{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.merchant }}</a>
                <p>Posted on {{ post.date_posted }}</p>
            </div>
            <h2><a class="article-title" href="#">{{ post.selling_item }}</a></h2>
            <p class="article-content">{{ post.price }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}
