{% extends "layout.html" %}
{% block content %}
<div class="col-md-12 about-page">
    <div class="jumbotron jumbotron-fluid bg-light text-dark">
      <div class="container">
        <h1 class="display-4">About TravellersMart</h1>
        <p class="lead">Your journey, our mission.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Our Story</h2>
          <p class="text-justify">TravellersMart was born out of a passion for travel and a desire to make the world a more accessible place for everyone. We understand the challenges that come with being in a foreign country – from navigating through local cuisines to finding everyday necessities. </p>
          <img src="https://images.pexels.com/photos/12794847/pexels-photo-12794847.jpeg?auto=compress&cs=tinysrgb&w=800" class="card-img-top" alt="About Image">

        <div class="what-we-offer my-5">
            <h2>What We Offer</h2>
            <div class="row">
              <div class="col-md-4">
                  <div class="card">
                      <img src="https://images.pexels.com/photos/262959/pexels-photo-262959.jpeg" class="card-img-top" alt="Meals">
                    <div class="card-body">
                      <h5 class="card-title">Meals</h5>
                      <p class="card-text">Discover local delicacies and international favorites, tailored to your dietary preferences.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <img src="https://images.pexels.com/photos/5793240/pexels-photo-5793240.jpeg" class="card-img-top" alt="Essentials Image">
                    <div class="card-body">
                      <h5 class="card-title">Essentials</h5>
                      <p class="card-text">From toiletries to travel accessories, we've got you covered.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <img src="https://images.pexels.com/photos/119777/pexels-photo-119777.jpeg" class="card-img-top" alt="Experiences Image">
                    <div class="card-body">
                      <h5 class="card-title">Local Experiences</h5>
                      <p class="card-text">Immerse yourself in the culture with curated local experiences and souvenirs.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
          </div>
          <div class="col-md-4 commitment">
            <div class="card">
            <img src="https://img.freepik.com/free-vector/business-merger-concept-illustration_114360-8642.jpg" class="card-img-top"  alt="Our Story Image">
              <div class="card-body">
                <h5 class="card-title">Our Commitment</h5>
                <p class="card-text">Customer Satisfaction, Sustainability, and Innovation are at the core of everything we do at TravellersMart. We are dedicated to providing exceptional service, promoting sustainable travel practices, and constantly evolving to meet the changing needs of travellers.</p>
              </div>
            </div>
          </div>
          </div>
        </div>

   
      </div>
    </div>
  </div>
{% endblock content %}